.container div {
    display: inline-block;
}

.container {
    width: 50%; 
    position: relative;
    justify-self: center;
}

.container div img {
    display: inline;
    width: 100px;
    height: 100px;
}

